# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\All_Python\machine_learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
